<DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OUR TEAM</title>

<body>
  <div class="background" style="background-image:"
  <h1>Our Team</h1>

  <h2>Aidan McConnell</h2>
  <img src="10385_aidanf(1).jpg" alt="Aidan">
  <li>
    <ul>University of Pennsylvania Graduate</ul>
    <ul>From Charlotte, North Carolina</ul>
    <ul>VFA Employer: Blispay</ul>
  <li>

  <h2>Peter DeJoy</h2>
  <li>
    <ul>Technical Genius University Graduate</ul>
    <ul>From Coolville, USA</ul>
    <ul>VFA Employer: </ul>
  </li>

<h2>Sasseen Najjar</h2>
<li>
  <ul>University of Pennsylvania Graduate</ul>
  <ul>From Awesome Junction, USA</ul>
  <ul>VFA Employer:</ul>
</li>

<h2>Brian Kane</h2>
<li>
  <ul>University of Ballerville Graduate</ul>
  <ul>From Incredible City, USA</ul>
  <ul>VFA Employer: Blispay</ul>
</li>

<h2>Jonathan Schwartz</h2>
<li>
  <ul>College of Excellence and Mastery</ul>
  <ul>From Stupendous Village, USA</ul>
  <ul>VFA Employer:</ul>
</li>
