<h1>Our Team</h1>

<h2>Aidan McConnell</h2>
  <img src="images/10385_aidanf(1).JPG" alt="Aidan">
  <ul>
    <li>University of Pennsylvania Graduate</li>
    <li>From Charlotte, North Carolina</li>
    <li>VFA Employer: Blispay</li>
  </ul>

  <h2>Peter DeJoy</h2>
  <img src="images/peter.JPG" alt="Peter">
  <ul>
    <li>Technical Genius University Graduate</li>
    <li>From Coolville, USA</li>
    <li>VFA Employer: Astronomer</li>
  </ul>

  <h2>Saseen Najjar</h2>
  <img src="images/saseen.jpg" alt="Saseen">
  <ul>
    <li>University of Pennsylvania Graduate</li>
    <li>From Awesome Junction, USA</li>
    <li>VFA Employer: Redstone Strategy Group</li>
  </ul>

  <h2>Brian Kane</h2>
  <img src="images/brian.jpg" alt="Brian">
  <ul>
    <li>University of Ballerville Graduate</li>
    <li>From Incredible City, USA</li>
    <li>VFA Employer: Blispay</li>
  </ul>

  <h2>Jonathan Schwartz</h2>
  <img src="images/jonathan.png" alt="Jonathan">
  <ul>
    <li>College of Excellence and Mastery</li>
    <li>From Stupendous Village, USA</li>
    <li>VFA Employer: StockX</li>
  </ul>
